/*______ FORMS ______*/

.main-search {
	position: absolute;
	right: 0;
	width: 20%;
	overflow: hidden;
	transition: width .3s ease-in-out;
	@media @desk-w {
		width: 5%;
		input {
			opacity: 0;
		}
		&.open {
			width: 100%;
			input {
				opacity: 1;
			}
		}
	}
	@media (min-width: 1300px) {
		width: 18%;
		input {
			opacity: 1;
		}
	}
	form {
		position: relative;
		width: 100%;
		height: 48px;
		background-color: #ffffff;
		input[type="text"] {
			margin-left: 15px;
			margin-bottom: 0;
			padding: 0;
			border: none;
			outline: none;
			width: auto;
			height: auto;
			line-height: 1;
		}
		button {
			display: none;
			background-color: transparent;
			cursor: pointer;
			border: none;
			color: @red;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1.23px;
			opacity: 0;
			transition: opacity 1.3s ease;
		}
		i {
			padding-left: 5px;
			&:before {
				color: #e60300;
				transition: color .3s ease;
			}
		}
	}
	::placeholder {
		color: #000000;
		z-index: 12px;
		transition: color .3s ease;
	}
	&:hover {
		cursor: pointer;
		i:before,::placeholder {
			color: #523b29;
		}
	}
	&.open {
		width: 100%;
		input[type="text"] {
			width: 75%;
		}
		button {
			display: inline-block;
			opacity: 1;
			color: #3a3a3a;
		}
	}
}


.mobile-form {
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100%;
	display: none;
	input[type="text"] {
		padding-right: 45px;
		padding-left: 5%;
		width: 100%;
		height: 40px;
		line-height: 38px;
		border: 1px solid @red;
		@media @tablet-w {
			padding-left: 3%;
		}
	}
	.mobile-button {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: none;
		background: transparent;
		&:after {
			content: "\e911";
			font-size: 20px;
			display: inherit;
			color: @red;
			.icomoon();
		}
	}
}


.subscribe-form {
	padding: 30px 25px 25px;	
	border: 1px solid #dadada;
	border-radius: 3px;
	max-width: 500px;
	margin: 0 auto;
	@media @mob-w {
		text-align: center;
	}
	@media @desk-w {
		text-align: left;
	}
	.subscribe-title {
		margin-bottom: 30px;
		color: @gray;
		font-size: 14px;
		letter-spacing: 1.23px;
		text-align: center;
		text-transform: uppercase;
	}
	input[type="text"] {
		height: 40px;
		line-height: 40px;
		max-width: 320px;
	}
}


form {
	ul.form-list {
		margin: 0;
		padding: 0;
		list-style: none;
		@media (min-width: 768px) {
			max-width: 50%;
		}
		li {
			margin-bottom: 10px;
			&.code {
				img {
					margin: 30px 0 !important;
				}
			}
			span.error-message {
				color: red;
				font-size: 12px;
			}
		}
	}
}

/*______ Profile form ______*/

.signup-form {
	margin-bottom: 100px;
}
