{% block content %}
<footer class="footer">
	<div class="uk-container">
		<div class="footer__inner">
			<div class="footer__top">
				<div class="uk-grid">
					<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-5">
						<div class="footer__title" data-role="toggle-list">О Компании <i class="icon-arrow-right"></i></div>
						<ul class="footer-nav-list">
							<li><a href="#">О нас</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Сотрудничество</a></li>
							<li><a href="#">Магазины</a></li>
							<li><a href="#">Вакансии</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">Обратная связь</a></li>
							<li><a href="#">Меховой салон</a></li>
						</ul>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-5">
						<div class="footer__title" data-role="toggle-list">Покупателю <i class="icon-arrow-right"></i></div>
						<ul class="footer-nav-list">
							<li><a href="#">Акции</a></li>
							<li><a href="#">Программы лояльности</a></li>
							<li><a href="#">Гарантия</a></li>
							<li><a href="#">Возврат</a></li>
							<li><a href="#">Доставка</a></li>
							<li><a href="#">Оплата</a></li>
							<li><a href="#">Подарочнык карты</a></li>
						</ul>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-5">
						<div class="footer__title" data-role="toggle-list">Услуги <i class="icon-arrow-right"></i></div>
						<ul class="footer-nav-list">
							<li><a href="#">Мастерская</a></li>
							<li><a href="#">Кредит</a></li>
							<li><a href="#">Маркировка</a></li>
							<li><a href="#">Химчистка</a></li>
							<li><a href="#">Хранение товаров</a></li>
						</ul>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-5">
						<div class="footer__title" data-role="toggle-list">Интернет-магазин <i class="icon-arrow-right"></i></div>
						<ul class="footer-nav-list">
							<li><a href="#">Бренды</a></li>
							<li><a href="#">Женщинам</a></li>
							<li><a href="#">Мужчинам</a></li>
							<li><a href="#">Меха и шубы</a></li>
							<li><a href="#">Аксессуары</a></li>
						</ul>
					</div>
					<div class="uk-width-1-1 uk-width-medium-1-1 uk-width-large-1-5">
						<div class="footer__title">Мы в соцсетях </div>
						<ul class="footer-nav-list soc-links">
							<li><a href="#" class="soc-icon icon-fb">Facebook</a></li>
							<li><a href="#" class="soc-icon icon-vk">Вконтакте</a></li>
							<li><a href="#" class="soc-icon icon-inst">Instagram</a></li>
							<li><a href="#" class="soc-icon icon-ok">Одноклассники</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="uk-grid">
					<div class="uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-4">
						<div class="copyright">© 2018 ООО «АЛЕКС И КО»</div>
						<div class="footer-logo">
							<a href="">
								<img src="img/small-logo.png" alt="">
							</a>
						</div>
					</div>
					<div class="uk-width-1-1 uk-width-small-1-2 uk-width-medium-2-4">
						<div class="pay-type">
							<div class="pay-type__text">Оплатить покупки можно наличным или безналичным расчётом</div>
							<div class="pay-type__list">
								<img src="img/visa.png" alt="">
								<img src="img/mastercard.png" alt="">
								<img src="img/mir.png" alt="">
							</div>
						</div>
					</div>
					<div class="uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-4">
						<div class="dev">
							<a href="https://aevrika.ru">Разработка и продвижение — «ЭВРИКА»</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}

