{% block content %}
<!-- begin header -->
<header class="header">
	<div class="uk-container">
		<div id="header-desc" class="header-desc uk-visible-large">

			<div class="header-desc__top">
				<div class="uk-grid">
					<div class="uk-width-1-2">
						<div class="stores">
							<div class="stores__geo">
								<a href="#" class="geo-name js__geo-name-toggle icon-triangle">Москва</a>
								<ul class="geo-regions-list">
									<li><a href="#">Москва</a></li>
									<li><a href="#">Воронеж</a></li>
								</ul>
							</div>
							<div class="stores__tel">
								<a href="tel:+74957377277">+7 (495) 737-72-77</a>
							</div>
							<div class="stores__links">
								<a href="" class="link-stores">Магазины</a>
								<a href="#feedback-modal" class="link-feedback" data-uk-modal>Напишите нам</a>
							</div>
						</div>
					</div>
					<div class="uk-width-1-2">
						<div class="login-menu">
							<div class="header-desc-auth">
								<div class="enter"><a href="#login-modal" data-uk-modal>Войти</a></div>
								<div class="reg"><a href="">Зарегистрироваться</a></div>
							</div>
							<div class="header-desc-basket">
								<a href="" class="icon-basket">Корзина (<span class="counter">0</span>)</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-desc__logo">
				<a href="/" class="logo">
					<img src="img/logo-2.png" alt="">
					<span class="logo__subtitle">SINCE 1997</span>
				</a>
			</div>

			<div class="header-desc__bottom">
				<div class="main-nav-wrapper">
					<div class="uk-grid">
						<div class="uk-width-1-1 uk-flex">
							<nav class="main-nav">
								<ul class="uk-navbar-nav">
									<li class="uk-parent" data-uk-dropdown="{justify: '#header-desc', delay: 0, remaintime: 50, mode: 'hover'}">
										<a href="">Новинки</a>
										<div class="uk-dropdown uk-dropdown-list">
											<div class="uk-container uk-container-small">
												<ul class="uk-grid dropdown-list uk-grid-collapse">
													<li class="uk-width-1-5">
														<a href="">test</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="uk-parent" data-uk-dropdown="{justify: '#header-desc', delay: 0, remaintime: 50, mode: 'hover'}">
										<a href="">Женщины</a>
										<div class="uk-dropdown uk-dropdown-list">
											<div class="uk-container uk-container-small">
												<ul class="uk-grid dropdown-list uk-grid-collapse">
													<li class="uk-width-1-5">
														<a href="" class="navbar__title">Шубы</a>
														<ul class="sublist">
															<li><a href="#">Шубы из норки</a></li>
															<li><a href="#">Шубы из норкмутона</a></li>
															<li><a href="#">Шубы из астрагана</a></li>
															<li><a href="#">Шубы из соболя</a></li>
															<li><a href="#">Шубы из каракуля</a></li>
															<li><a href="#">Шубы на трикотажной основе</a></li>
															<li><a href="#">Шубы из рыси</a></li>
															<li><a href="#">Шубы из шиншиллы</a></li>
															<li><a href="#">Шубы из каракуля</a></li>
															<li><a href="#">Шубы из каракуля</a></li>
														</ul>
													</li>
													<li class="uk-width-1-5">
														<a href="#" class="navbar__title">Дубленки</a>
														<ul class="sublist">
															<li><a href="#">Дубленки короткие</a></li>
															<li><a href="#">Дубленки с капюшеном</a></li>
															<li><a href="#">Дубленки длинные</a></li>
															<li><a href="#">Дубленки из экомеха</a></li>
														</ul>
													</li>
													<li class="uk-width-1-5">
														<a href="#" class="navbar__title">Изделия из кожи</a>
														<ul class="sublist">
															<li><a href="#">Зимние кожаные куртки</a></li>
															<li><a href="#">Кожаные куртки</a></li>
															<li><a href="#">Кожаные пальто</a></li>
															<li><a href="#">Куртки из экокожи</a></li>
															<li><a href="#">Утепленные кожаные куртки</a></li>
															<li><a href="#">Кожаные куртки на меху</a></li>
														</ul>
													</li>
													<li class="uk-width-1-5">
														<a href="#" class="navbar__title">Текстиль</a>
														<ul class="sublist">
															<li><a href="#">Пальто</a></li>
															<li><a href="#">Пуховики</a></li>
															<li><a href="#">Демисезонные куртки</a></li>
															<li><a href="#">Ветровки и Плащи</a></li>
															<li><a href="#">Жилеты</a></li>
															<li><a href="#">Парки</a></li>
															<li><a href="#">Полупальто</a></li>
														</ul>
													</li>
													<li class="uk-width-1-5">
														<a href="#" class="navbar__title">Аксессуары</a>
														<ul class="sublist">
															<li><a href="#">Сумки</a></li>
															<li><a href="#">Головные уборы</a></li>
														</ul> 
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="uk-parent" data-uk-dropdown="{justify: '#header-desc', delay: 0, remaintime: 50, mode: 'hover'}">
										<a href="">Мужчины</a>
										<div class="uk-dropdown uk-dropdown-list">
											<div class="uk-container uk-container-small">
												<ul class="uk-grid dropdown-list uk-grid-collapse">
													<li class="uk-width-1-5">
														<a href="">test</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="uk-parent" data-uk-dropdown="{justify: '#header-desc', delay: 0, remaintime: 50, mode: 'hover'}">
										<a href="">Шубы и меха</a>
										<div class="uk-dropdown uk-dropdown-list">
											<div class="uk-container uk-container-small">
												<ul class="uk-grid dropdown-list uk-grid-collapse">
													<li class="uk-width-1-5">
														<a href="">test</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="uk-parent" data-uk-dropdown="{justify: '#header-desc', delay: 0, remaintime: 50, mode: 'hover'}">
										<a href="">Акции</a>
										<div class="uk-dropdown uk-dropdown-list">
											<div class="uk-container uk-container-small">
												<ul class="uk-grid dropdown-list uk-grid-collapse">
													<li class="uk-width-1-5">
														<a href="">test</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="uk-parent" data-uk-dropdown="{justify: '#header-desc', delay: 0, remaintime: 50, mode: 'hover'}">
										<a href="">Бренды</a>
										<div class="uk-dropdown uk-dropdown-list">
											<div class="uk-container uk-container-small">
												<ul class="uk-grid dropdown-list uk-grid-collapse">
													<li class="uk-width-1-5">
														<a href="">test</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="uk-parent"><a href="" class="active">Sale</a></li>
								</ul>
							</nav>
							<div class="main-search">
								<form action="">
									<i class="icon-search"></i>
									<input type="text" placeholder="Поиск по каталогу">
									<button type="submit">Найти</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="header-mobile uk-hidden-large">
			<div class="stores">
				<div class="stores__geo">
					<a href="#" class="geo-name js__geo-name-toggle icon-triangle">Москва</a>
					<ul class="geo-regions-list">
						<li><a href="#">Москва</a></li>
						<li><a href="#">Воронеж</a></li>
					</ul>
				</div>
				<div class="stores__tel">
					<a href="tel:+74957377277">+7 (495) 737-72-77</a>
				</div>
				<div class="stores__links">
					<a href="" class="link-stores">Магазины</a>
				</div>
			</div>
			<div class="uk-grid">
				<div class="uk-width-1-2">
					<a href="/" class="mobile-logo">
						<picture>
							<source media="(max-width: 767px)" srcset="img/small-logo.png">
							<source media="(min-width: 768px)" srcset="img/logo-2.png">
								<img src="logo-2.png" alt="">
						</picture>
					</a>
				</div>
				<div class="uk-width-1-2">
					<ul class="mobile-menu">
						<li><a href="#" class="icon-user"></a></li>
						<li><a href="#" class="icon-search js__show-form"></a></li>
						<li><a href="#" class="icon-basket"></a></li>
						<li><a href="#offcanvas-menu" class="icon-menu" data-uk-offcanvas></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="offcanvas-menu" class="uk-offcanvas">
			<div class="uk-offcanvas-bar">
					<div class="uk-panel">
						<a href="" class="mobile-feedback" data-uk-modal>Напишите нам</a>
						<ul class="uk-nav">

								<li>
									<a href="">Новинки</a>
								</li>
								<li>
									<a href="">Женщины <i class="icon-arrow-right js__menu-sublist-toggle"></i></a>
									<div class="uk-nav__inner hidden">
										<i class="icon-arrow-left-long navbar-close"><span>Женщины</span></i>
										<ul class="menu-sublist">
											<li>
												<a href="">
													Шубы<i class="icon-arrow-right js__menu-sublist-toggle"></i>
												</a>
												<div class="uk-nav__inner hidden">
													<i class="icon-arrow-left-long navbar-close"><span>Шубы</span></i>
													<ul class="menu-sublist">
														<li>
															<a href="">
																Дизайн45645645
																<i class="js__menu-sublist-toggle"></i>
															</a>
														</li>
														<li>
															<a href="">Материал</a>
														</li>
														<li>
															<a href="">Страна производитель</a>
														</li>
														<li>
															<a href="">Размер и форма</a>
														</li>
													</ul>
												</div>
											</li>
											<li>
												<a href="">Материал</a>
											</li>
											<li>
												<a href="">Страна производитель</a>
											</li>
											<li>
												<a href="">	Размер и форма</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<a href="">Мужчинам <i class="icon-arrow-right js__menu-sublist-toggle"></i></a>
									<div class="uk-nav__inner hidden">
										<i class="icon-arrow-left navbar-close"></i>
										<ul class="menu-sublist">
											<li>
												<a href="">
													Дизайн
												</a>
											</li>
											<li>
												<a href="">
													Материал
												</a>
											</li>
											<li>
												<a href="">
													Страна производитель
												</a>
											</li>
											<li>
												<a href="">
													Размер и форма
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li><a href="">Шубы и меха</a></li>
								<li><a href="">Акции</a></li>
								<li><a href="">Бренды</a></li>
								<li><a href="" class="active">SALE</a></li>
						</ul>
					</div>
			</div>
		</div>

		<form action="" class="mobile-form" method="post">
			<input type="text" class="mobile-search" name="mobile-search">
			<button type="submit" class="mobile-button"></button>
		</form>
	</div>
</header>
<!-- end header -->
{% endblock %}
