{% extends "layouts/default.html" %}
{% set title="Детальная" %}
{% set bread = ["Главная", "Женщинам", "Дубленки", "Дубленка женская"] %}
{% set main = false %}
{% set products =[
	{name: "Куртка женская", stocks: {new:"Новинка"}, brand: "Gucci", price: "7 990р.", oldprice: ""},
	{name: "Жилет из соболя с отделкой из свакары по бокам", stocks: {discount:"-20%"}, brand: "Avanti", price: "731 493 р.", oldprice: "965 493 р. "},
	{name: "Норковая Шуба", brand: "Елена Фурс", price: "124 990 р.", oldprice: ""},
	{name: "Куртка женская", brand: "Gucci", price: "7 990р.", oldprice: ""}, 
	{name: "Куртка женская", brand: "Gucci", price: "7 990р.", oldprice: ""} 
] %}
{% block content %}

<!-- begin content -->
<section class="content">
	<div class="uk-container uk-container--medium">
		<div class="detail-product">
			<div class="uk-grid">
				<div class="uk-width-1-1 uk-width-large-1-2">
					<div class="detail-product-title mobile uk-hidden-large">Дубленка из овчины на молнии</div>
					<div class="detail-product-sliders">
						<div class="detail-product-big-slider preload">
							<div class="slider">
								<div class="slide">
									<a href="img/sliders/detail-big-slider-1-422x633.png" data-uk-lightbox="{group:'detail-gallery'}">
										<img src="img/sliders/detail-big-slider-1-422x633.png" alt="">
									</a>
										<div class="stocks">
											<div class="stocks__new">Новинка</div>
											<div class="stocks__discount">-20%</div>
										</div>
								</div>
								<div class="slide">
									<a href="img/sliders/detail-big-slider-1-422x633.png" data-uk-lightbox="{group:'detail-gallery'}">
										<img src="img/sliders/detail-big-slider-1-422x633.png" alt="">
									</a>
								</div>
								<div class="slide">
									<a href="img/sliders/detail-big-slider-1-422x633.png" data-uk-lightbox="{group:'detail-gallery'}">
										<img src="img/sliders/detail-big-slider-1-422x633.png" alt="">
									</a>
								</div>
								<div class="slide">
									<a href="img/sliders/detail-big-slider-1-422x633.png" data-uk-lightbox="{group:'detail-gallery'}">
										<img src="img/sliders/detail-big-slider-1-422x633.png" alt="">
									</a>
								</div>
								<div class="slide">
									<a href="img/sliders/detail-big-slider-1-422x633.png" data-uk-lightbox="{group:'detail-gallery'}">
										<img src="img/sliders/detail-big-slider-1-422x633.png" alt="">
									</a>
								</div>
							</div>
						</div>
						<div class="detail-product-preview-slider">
							<div class="slider">
								<div class="slide preload"><img src="img/sliders/detail-preview-slide-1-82x122.png" alt=""></div>
								<div class="slide preload"><img src="img/sliders/detail-preview-slide-2-82x122.png" alt=""></div>
								<div class="slide preload"><img src="img/sliders/detail-preview-slide-3-82x122.png" alt=""></div>
								<div class="slide preload"><img src="img/sliders/detail-preview-slide-4-82x122.png" alt=""></div>
								<div class="slide preload"><img src="img/sliders/detail-preview-slide-3-82x122.png" alt=""></div>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-1-1 uk-width-large-1-2">
					<div class="detail-product-content">
						<div class="title-h1 uk-visible-large">Дубленка из овчины на молнии</div>

						 <div class="detail-product-section">
								<div class="section-name">Артикул</div>
								<div class="section-value">W18_T2_335_1748_BLUFIN</div>
						 </div>

						 <div class="detail-product-section">
								<div class="section-name">Бренд</div>
								<div class="section-value border-dashed"><a href="">RUNO DISCORSO</a></div>
						 </div>

						 <div class="detail-product-section">
								<div class="section-name">Цвет</div>
								<div class="section-value">Красный</div>
								<ul class="detail-colors-list">
									<li class="active"><a href="" style="background-color: #833b3a;" data-color="Красный"></a></li>
									<li><a href="" style="background-color: #3d3b41;" data-color="Черный"></a></li>
									<li><a href="" style="background-color: #d8d8d8;" data-color="Серый"></a></li>
								</ul>
						 </div>

						 <div class="detail-product-section">
								<div class="section-name">Размер</div>
								<ul class="detail-sizes-list">
									<li><span>36/170</span></li>
									<li><span class="active">36/170</span></li>
									<li><span>36/170</span></li>
								</ul>
								<div class="detail-table-sizes">
									<div class="detail-table-size-btn">
										<a href="" class="border-dashed js__table-toggle">Таблица размеров</a>
									</div>
									<div class="detail-table-wrapper">
										<span class="icon-close close"></span>
											<div class="uk-overflow-container">
												<table>
													<thead>
													<tr>
														<td colspan="11">Женская одежда</td>
													</tr>
													</thead>
													<tbody>
													<tr>
														<td>Обхват груди (см)</td>
														<td>78-&#8203;82</td>
														<td>82-&#8203;86</td>
														<td>86-&#8203;90</td>
														<td>90-&#8203;94</td>
														<td>94-&#8203;98</td>
														<td>98-&#8203;102</td>
														<td>102-&#8203;106</td>
														<td>106-&#8203;110</td>
														<td>110-&#8203;114</td>
														<td>114-&#8203;118</td>
													</tr>
													<tr>
														<td>Обхват талии (см)</td>
														<td>58-&#8203;62</td>
														<td>62-&#8203;66</td>
														<td>66-&#8203;70</td>
														<td>70-&#8203;74</td>
														<td>74-&#8203;78</td>
														<td>78-&#8203;82</td>
														<td>82-&#8203;86</td>
														<td>86-&#8203;90</td>
														<td>90-&#8203;94</td>
														<td>94-&#8203;98</td>
													</tr>
													<tr>
														<td>Обхват бёдер (см)</td>
														<td>84-&#8203;88</td>
														<td>88-&#8203;92</td>
														<td>92-&#8203;96</td>
														<td>96-&#8203;100</td>
														<td>100-&#8203;104</td>
														<td>104-&#8203;108</td>
														<td>108-&#8203;112</td>
														<td>112-&#8203;116</td>
														<td>116-&#8203;120</td>
														<td>120-&#8203;124</td>
													</tr>
													<tr>
														<td>Длина рукава (см)</td>
														<td>62-&#8203;64</td>
														<td>62-&#8203;64</td>
														<td>62-&#8203;64</td>
														<td>62-&#8203;64</td>
														<td>63-&#8203;65</td>
														<td>63-&#8203;65</td>
														<td>64-&#8203;66</td>
														<td>64-&#8203;66</td>
														<td>64-&#8203;66</td>
														<td>64-&#8203;66</td>
													</tr>
													<tr>
														<td>Российский размер (RUS)</td>
														<td>40</td>
														<td>42</td>
														<td>44</td>
														<td>46</td>
														<td>48</td>
														<td>50</td>
														<td>52</td>
														<td>54</td>
														<td>56</td>
														<td>58</td>
													</tr>
													<tr>
														<td>Размеры производителя</td>
														<td>34</td>
														<td>36</td>
														<td>38</td>
														<td>40</td>
														<td>42</td>
														<td>44</td>
														<td>46</td>
														<td>48</td>
														<td>50</td>
														<td>52</td>
													</tr>
													</tbody>
												</table>
											</div>
									</div>
								</div>
						 </div>

						 <div class="detail-product-section no-border">
							<div class="uk-grid">
								<div class="uk-width-1-1">
									<div class="uk-grid">
										<div class="uk-width-1-1 uk-width-medium-1-2">
											<div class="detail-prices-wrapper">
												<span class="old-price">965 493 р.</span>
												<span class="current-price">731 493 р.</span>
											</div>
										</div>
										<div class="uk-width-1-1 uk-width-medium-1-2">
											<div class="detail-price__offer">
												<a href="">
													<span class="detail-price__offer-text">В рассрочку</span> от <span class="detail-price__offer-value">491 р. в месяц</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="detail-product-events">
								<a href="" class="btn">Купить</a>
								<a href="" class="detail-favorite icon-favorite js__check-favorite"></a>
								<div class="detail-promo">
									<p>При покупке данного товара</p>
									<p>«Скидка 20% на Кожаные Изделия» </p>
								</div>
							</div>
						 </div>
						
					</div>
				</div>
				<div class="uk-width-1-1">
					
						<div class="detail-product-options">

							<div class="uk-tab options" data-uk-tab="{connect: '#tab-content', swiping: false}">
								<li><a href="">Наличие в магазинах</a></li>
								<li><a href="">Доставка и оплата</a></li>
								<li><a href="">Описание</a></li>
							</div>

							<ul id="tab-content" class="uk-switcher">
								<li>
									
									<ul class="list-stores">
										<li class="store">
											<div class="store__subway">
												<div class="store__subway-icon icon-metro-logo" style="background-color: #ef1f26;"></div>
												<div class="store__subway-name">
													<p>Сокольники</p>
													<p>Флагманский магазин</p>
												</div>
											</div>
											<div class="store__address">
												<p>Москва, Сокольническая пл, д. 4, 2 эт, Меховой салон</p>
												<p><a href="tel:+74957377277">+7 (495) 737-72-77</a></p>
											</div>
											<div class="store__timework">
												<p>с 10.00 до 22.00</p>
												<p>(без выходных)</p>
											</div>
										</li>
										<li class="store">
											<div class="store__subway">
												<div class="store__subway-icon icon-metro-logo" style="background-color: #fbaa34;"></div>
												<div class="store__subway-name">
													<p>ВДНХ</p>
												</div>
											</div>
											<div class="store__address">
												<p>Москва, ТРЦ «Вавилон», Проспект Мира, д. 211, Южный проспект, 55</p>
												<p><a href="tel:+74956651465">+7 (495) 665-14-65</a></p>
											</div>
											<div class="store__timework">
												<p>с 10.00 до 22.00</p>
												<p>(без выходных)</p>
											</div>
										</li>
										<li class="store">
											<div class="store__subway">
												<div class="store__subway-icon icon-metro-logo" style="background-color: #029a54;"></div>
												<div class="store__subway-name">
													<p>ЦСКА</p>
												</div>
											</div>
											<div class="store__address">
												<p>Москва, ТРЦ Авиапарк 3 этаж. Ходынский бульвар, дом 4</p>
												<p><a href="tel:+74956444544">+7 (495) 644-45-44</a></p>
											</div>
											<div class="store__timework">
												<p>с 10.00 до 23.00</p>
												<p>(без выходных)</p>
											</div>
										</li>
									</ul>

								</li>
								<li>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, laudantium, fugit delectus incidunt ducimus recusandae accusantium ad. Dolores quam ex, itaque distinctio perferendis quisquam, molestias nostrum! Labore aperiam quae nihil.
								</li>
								<li>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore aliquid numquam, sint deleniti ut ea!
									<div class="attention">
										<p>Информация, указанная на сайте в отношении данного товара не является публичной офертой. <br>
										Цены на сайте могут отличаться от цен, действующих в магазинах. <br>
										Компания имеет за собой право на изменение цены. <br>
										Информацию о наличии товара и действующей цене уточняйте в магазинах или по телефону - <a href="tel:+74957377277">8 (495) 737-72-77</a> по аналогии с ними</p>
									</div>
								</li>
							</ul>
						</div>

				</div>
			</div>
		</div>
	</div>

	<div class="uk-container">
		<!-- begin product-slider -->

		<div class="products-slider uk-invisible" data-uk-scrollspy="{cls:'uk-animation-up uk-invisible'}">
			<div class="title-h2">Вы смотрели</div>
			<div class="slider">
				{% for product in products %} 
				<div class="slide">
					<div class="card">
						<div class="card__inner">
							<div class="card__top">
								<div class="card__img">
									<a href=""><img src="img/sliders/card-img-{{loop.index}}-314x471.png" alt=""></a>
									<div class="card-action-wrapper">
										<div class="card-favorite">
											<a href="" class="icon-favorite js__check-favorite"></a>
										</div>
										<ul class="card-colors-list">
											<li><a href="#" class="color" style="background-color: #833b3a;"></a></li>
											<li><a href="#" class="color" style="background-color: #3d3b41;"></a></li>
											<li><a href="#" class="color" style="background-color: #d8d8d8;"></a></li>
										</ul>
									</div>
									<div class="stocks">
										{% if product.stocks.new is not empty %}
											<div class="stocks__new">{{product.stocks.new}}</div>
										{% endif %}
										{% if product.stocks.discount is not empty %}
											<div class="stocks__discount">{{product.stocks.discount}}</div>
										{% endif %}
									</div>
									<div class="card-sizes-wrapper">
										<ul class="sizes-list">
											<li><a href="#">36/170</a></li>
											<li><a href="#">36/170</a></li>
											<li><a href="#">36/170</a></li>
											<li><a href="#">36/170</a></li>
										</ul>
									</div>
									<div class="card-preview">
										<a class="preview">Быстрый просмотр</a>
									</div>
								</div>
							</div>
							<div class="card__middle">
								<div class="card__product-name"><a href="">{{product.name}}</a></div>
								<div class="card__product-price">
									<div class="current-price">{{product.price}}</div>
									<div class="old-price">{{product.oldprice}}</div>
								</div>
							</div>
							<div class="card__bottom">
								<div class="card__product-brand"><a href="">{{product.brand}}</a></div>
								<div class="card__offer">
									<a href="">
										<span class="card__offer-text">В рассрочку</span> от <span class="card__offer-value">491 р.</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="products-slider uk-invisible" data-uk-scrollspy="{cls:'uk-animation-up uk-invisible'}">
			<div class="title-h2">Обратите внимание</div>
			<div class="slider">
				{% for product in products %}
				{% if loop.last == 1 %} 
				<div class="slide">
					<div class="card">
						<div class="card__inner">
							<div class="card__top">
								<div class="card__img">
									<a href=""><img src="img/sliders/card-img-{{loop.index}}-314x471.png" alt=""></a>
									<div class="card-action-wrapper">
										<div class="card-favorite js__check-favorite">
											<a href="" class="icon-favorite"></a>
										</div>
										<ul class="card-colors-list">
											<li><a href="#" class="color" style="background-color: #833b3a;"></a></li>
											<li><a href="#" class="color" style="background-color: #3d3b41;"></a></li>
											<li><a href="#" class="color" style="background-color: #d8d8d8;"></a></li>
										</ul>
									</div>
									<div class="stocks">
										{% if product.stocks.new is not empty %}
											<div class="stocks__new">{{product.stocks.new}}</div>
										{% endif %}
										{% if product.stocks.discount is not empty %}
											<div class="stocks__discount">{{product.stocks.discount}}</div>
										{% endif %}
									</div>
									<div class="card-sizes-wrapper">
										<ul class="sizes-list">
											<li><a href="#">36/170</a></li>
											<li><a href="#">36/170</a></li>
											<li><a href="#">36/170</a></li>
											<li><a href="#">36/170</a></li>
										</ul>
									</div>
									<div class="card-preview">
										<a class="preview">Быстрый просмотр</a>
									</div>
								</div>
							</div>
							<div class="card__middle">
								<div class="card__product-name"><a href="">{{product.name}}</a></div>
								<div class="card__product-price">
									<div class="current-price">{{product.price}}</div>
									<div class="old-price">{{product.oldprice}}</div>
								</div>
							</div>
							<div class="card__bottom">
								<div class="card__product-brand"><a href="">{{product.brand}}</a></div>
								<div class="card__offer">
									<a href="">
										<span class="card__offer-text">В рассрочку</span> от <span class="card__offer-value">491 р.</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<!-- end product-slider -->
	</div>

</section>
<!-- end content -->

{% endblock %}
